* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    /* font-size: 17pt; */
    font-weight: 300;
    letter-spacing: 0.150em;
    line-height: 1.65;
    overflow-x: hidden;
 
}  

.main-container{
  position: relative;
}
nav {
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* position: fixed; */
}
  
  

#date-created{
  /* display: flex;
  align-self: flex-end;
  font-size: 15px;
  padding: 80px 10px 0 0; */
  color:#242943;
  font-weight: 500;
  font-size: 0.75em;
    /* text-align: right; */
    /* margin-bottom: 0; */
    position: absolute;
    right:0;
    bottom: 0.5em;
  

}

.nav-wrapper{
  display: flex;
}

.nav-wrapper img {
  height: 110px;
  width: 110px;
  /* border: 4px solid white; */
  border-radius: 20px;
  /* position: fixed; */
  
}  

.nav-links {
  display: flex;
  z-index: 1;
}
.nav-link {
  text-decoration: none;
  margin: 30px;
}
   .nav-link:hover {
    color: #e97770;
}

.banner h1 {
  font-size: 3.25em;
  font-weight: 600;
  line-height: 1.65;
  /* margin: 0 0 1em 0; */
  letter-spacing: 0.050em;
  /* display: inline-block; */
}


.banner p {
    font-size: 0.7em;
    font-weight: 600;
    letter-spacing: 0.25em;
    /* margin-top: 1em; */
    /* display: inline-block; */
}

.banner {
    position: relative;
    /* top: 25; */
    top: 20%;
    left: 10%;
     transition: transform 1.5s linear;
    /* position: fixed; */
  }

  .banner:hover{
    /* transform: translateX(20px); */
    transform: scaleX(1.05);

}

.banner h1:hover, .banner p:hover  {
  color: #e97770;
  /* transition-delay: 2s; */
}


.banner #line {
  height: 2px;
  width: 65vw;
  background-color: #ffffff;
  margin: 1.5em 0 1.5em 0;
}
.banner #line:hover {
  background-color: #e97770;
}


  .nav-background {
  height: 75vh;
  /* set background image */
  /* background-image: url("../docs/busyCity.jpg");  */
   /* background-image:linear-gradient(to right, rgba(26, 23, 45, 0.5) 100%, rgba(2, 0, 9, 0.495)100%),url("../docs/busyCity.jpg"); */
   
  /* background-image:linear-gradient(to right, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%); */
  /* background-image:linear-gradient(to right, black, grey); */
 /* background-color: #000000; */
/* background-image:linear-gradient(315deg, #000000 7%, #7f8c8d 74%), url("../docs/busyCity.jpg"); */

background-image:linear-gradient(to right, rgba(26, 23, 45, 0.9) 100%, rgba(2, 0, 9, 0.495)100%),url("../docs/busyCity.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
    /* transition: opacity 2.5s ease;
    transition-delay: 0.75s;*/

} 

.main {
 background-color: #e97770;
}
.content-home {
  position: relative;
  left: 10%;
  width: 65vw;
  display: flex;
  flex-direction: column;
  border: 0.5px solid;
  background: white;
  border-radius: 0.5em 0.5em 0 0;
  }
  

  

  .content-contact {
    position: relative;
    left: 10%;
    width: 65vw;
  }
#home-header h2{
  position: relative;
  left: 32%;
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 0.120em;
  color: #242943;
  padding-top: 0.25em;
}
 
  
 
 
    
.content-home p {
  padding: 1em;
  font-size: 1.25em;
  color: slategrey;
  font-weight: 400;
}
  
   

footer {
  bottom: 11px;
  width: 22vw;
  height: 60px;
  background:#242943;
  /* opacity: 0.8; */
  position: fixed;
  right: 11px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer p {
 
  /* font-family: 'Montserrat', sans-serif; */
  /* font-size: 20px; */
  font-size: 1em;
  color: white;
  padding: 0.3em;
    font-weight: 400;
    letter-spacing: 0.25em;
}
footer .resume {
    font-size: 0.75em;
     padding: 0.3em;
    font-weight: 400;
    letter-spacing: 0.25em;
}

    
footer a {
  text-decoration: none;
}

.footericon {
  font-size: 2em;
  color: white;
}
  
#github-footer{
 
  color: white;
  font-size: 2em;
}

.content-blog {
  width: 80%;
  margin: 0 auto;
}

#blog-header {
    display: flex;
    justify-content: center;
    /* margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif; */
    /* font-size: 50px; */
}
#blog-header h2 {
  /* position: relative;
  left: 32%; */
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 0.120em;
  color: #242943;
  padding-top: 0.25em;
}
    

.blog-entry {
  height: 450px;
  display: flex;
} 

 .blog-image{
   width: 50%;
   /* background: red; */
   height: 100%;
   overflow: hidden;
}
.blog-text{
  width: 50%;
  height: 100%;
  /* background: tan;
  opacity: 0.7; */
  /* background: linear-gradient(white, aliceblue); */
  overflow: hidden;
  position: relative;
}  

.blog-text:hover {
  background-color: transparent;

}
.blog-text p {
  /* margin-right: 10%;
  margin-left: 10%; */
  font-family: Georgia, serif;
  /* font-size: 20px;
  letter-spacing: 2px;
  word-spacing: 2px; */
  padding: 1em;
    font-size: 1em;
    color: slategrey;
    font-weight: 400;
}

.blog-text h3{
    margin: 1em 0 1em 0;
    text-align: center;
    color: #242943;
    font-size: 1.5em;
    font-weight: 300;
}


.blog-image img {
  height: 100%;
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}
.content-contact p  {
  color: #242943;
  margin: 1.5em;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.25em;
  text-align: center;
}
.content-contact p.email-contact {
  color: #242943;
}

#get-in-touch h2 {
  position: relative;
  left: 30%;
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 0.120em;
  color:  #242943;
  /* color: #ffffff; */
  padding-top: 0.50em;
}
 
.input-name-and-email {
  border: none;
  padding: 5px;
  height: 3.5em;
  font-weight: 500;
  font-size: 1em;
  color: slategray;
  
}  

      
#message {
    border: none;
    padding: 5px;
    color: slategray;
    font-weight: 500;
    font-size: 1em;
}
   
    
   
input[type=submit] {
    display: inline-block;
    background-color:#242943;
    box-shadow: none;
    color: #e97770;
    border: none;
    border-radius: 0;
    font-size: 0.8em;
    font-weight: 600;
    height: 4em;
    letter-spacing: 0.25em;
    padding: 1.175em;
    text-align: center;
    margin-top: 1.5em ;
}

span.email-contact {
   color: #242943;
   font-size: 1em;
   font-weight: 400;
}
label {
  color:  #242943;
  /* color: #ffffff; */
  font-size: 1em;
  padding: 0.3em;
  font-weight: 600;
  letter-spacing: 0.25em;
  font-size: 0.8em;
  margin: 0.75em 0;
}

  #skills-header h2 {
    position: relative;
    left: 36%;
    font-size: 3em;
    font-weight: 500;
    letter-spacing: 0.120em;
    color: #242943;
    /* color: #ffffff; */
    padding-top: 0.25em;
  }
.grid-content {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  grid-row-gap: 1em;
  margin-top: 1.25em; 
}
.grid-item {
  font-size: 5.5em;
}
/* applied media query to all html pages */
@media only screen and (max-width: 600px) { 
  
  #get-in-touch h2 {
    font-size: 20px;
    margin: 20px 0px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  .content-home {
    width: auto;
    margin: 0px;
    align-items: center;
  }
  .content-home p {
    width: 80%;
    font-size: 1em;
    line-height: 20px;
  }
  #home-header {
    font-size: 20px;
  }
  footer {
    width: 42vw;
    height: 50px;
    opacity: 0.7;
    
  }
  footer p {
    font-size: 18px;
  }
  .footericon {
    font-size: 20px;
  }
  #github-footer {
    font-size: 15px ;
  }
  .blog-entry {
    display: block;
    height: auto;
    
  }
  .blog-image {
    width: 100%;
  }
  .blog-text {
    display: block;
    width: auto;
  }
  #blog-header {
    font-size: 20px;
  }
  .blog-text h1 {
    font-size: 25px;
    margin: 10px 100px 10px 100px;
  }
  .nav-link {
    font-size: 18px;
      padding: 13px;
  }
  .nav-link:hover {
    font-size: 20px;
  }
  .nav-wrapper img {
    height: 90px;
    width: 90px;
  }  
  #skills-header h2 {
    position: relative;
    left: 30%;
    font-size: 3em;
    font-weight: 500;
    letter-spacing: 0.120em;
    
    padding-top: 0.50em;
    color: black;
  }
  .grid-item {
    font-size: 4em;
 
  }  
}

@mixin text-shadow {
  color: #D0F8FF;
  text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
  0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
  0 0 40px #A5F1FF;
}
 
