* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center
}
nav {
  height: 100px;
  width: 100vw;
  
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
}
header {
  display: flex;
  align-self: center;
  flex-direction: column;
}
header img {
  height: 200px;
  width: 200px;
  border: 7px solid white;
  border-radius: 20px;  
}
.nav-links {
  display: flex;
}
.nav-link a {
  padding: 40px;
  text-decoration: none;
}
.nav-name {
  height: 70vh;
  background: yellow;
  display: flex;
  justify-content: center;
}
.content {
  width: 50%;
  margin-top: 10px;
  margin-left: 300px
}
footer {
  bottom: 11px;
  width: 17vw;
  height: 70px;
  background: black;
  position: fixed;
  right: 11px;
}



